@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
#root {
  overflow-x: hidden;
}

.navigation .navigation-brand {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 31px;
  color: #f2572e;
}
.navigation .navigation-link {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  margin: 0 16px;
  color: #0d0d0d;
}
.navigation .navigation-link:hover {
  color: #f2572e;
}
.navigation .navigation-link.active {
  color: #f05830;
}
.navigation .navigation-button {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  line-height: 27px;
  padding: 16px 28px;
  color: #ffffff;
  background-color: #dc1e23;
  border-color: #dc1e23;
}
.navigation .navigation-button:hover {
  background-color: #bb191e;
}

.header {
  position: relative;
}
.header .header-title {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 54px;
  line-height: 70px;
  color: #0d0d0d;
}
@media screen and (max-width: 1400px) {
  .header .header-title {
    font-size: 40px;
    line-height: 58px;
  }
}
@media screen and (max-width: 576px) {
  .header .header-title {
    font-size: 32px;
    line-height: 40px;
  }
}
.header .header-desc {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #807d7d;
}
@media screen and (max-width: 1400px) {
  .header .header-desc {
    font-size: 16px;
  }
}
@media screen and (max-width: 576px) {
  .header .header-desc {
    font-size: 14px;
    line-height: 20px;
  }
}
.header .header-count {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  color: #dc1e23;
}
@media screen and (max-width: 576px) {
  .header .header-count {
    font-size: 32px;
    line-height: 40px;
  }
}
.header .header-count-label {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  color: #807d7d;
}
@media screen and (max-width: 576px) {
  .header .header-count-label {
    font-size: 14px;
    line-height: 20px;
  }
}
.header .header-button {
  background-color: #0d0d0d;
  padding: 12px 28px;
  width: fit-content;
  border-color: transparent;
}
.header .header-img {
  position: relative;
  height: 700px;
}
.header .header-img .fishes-img {
  width: 100%;
  max-width: 300px;
}
@media screen and (max-width: 1200px) {
  .header .header-img .fishes-img {
    width: 250px;
  }
}
@media screen and (max-width: 576px) {
  .header .header-img .fishes-img {
    display: none;
  }
}
.header .header-img .apps-img {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 100%;
  max-width: 300px;
}
@media screen and (max-width: 1200px) {
  .header .header-img .apps-img {
    width: 250px;
  }
}
@media screen and (max-width: 576px) {
  .header .header-img .apps-img {
    right: 50%;
    transform: translate(50%, -50%);
  }
}
@media screen and (max-width: 992px) {
  .header .header-img {
    width: 100%;
    margin: auto;
    max-width: 500px;
    height: 550px;
  }
}
.header .header-bg {
  position: absolute;
  content: "";
  width: 750px;
  height: 400px;
  background-color: #dc1e23;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: -1;
  border-radius: 50px 0px 0px 50px;
}
@media screen and (max-width: 1400px) {
  .header .header-bg {
    width: 600px;
  }
}
@media screen and (max-width: 1200px) {
  .header .header-bg {
    width: 500px;
  }
}
@media screen and (max-width: 992px) {
  .header .header-bg {
    bottom: 0;
    top: unset;
    transform: unset;
  }
}

.tracking {
  background-color: #dc1e23;
  padding: 50px 0;
  position: relative;
}
.tracking .tracking-divider {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 1px;
  height: 100%;
  background-color: #ffffff;
}
@media screen and (max-width: 992px) {
  .tracking .tracking-divider {
    width: 100%;
    height: 1px;
    top: 50%;
    left: 0;
    right: 0;
    transform: translate(0, -50%);
  }
}
.tracking .tracking-title {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 52px;
  color: #ffffff;
}
@media screen and (max-width: 576px) {
  .tracking .tracking-title {
    font-size: 18px;
    line-height: 32px;
  }
}
.tracking .tracking-desc {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 30px;
  color: #ffffff;
}
@media screen and (max-width: 768px) {
  .tracking .tracking-desc {
    font-size: 14px;
    line-height: 24px;
  }
}
.tracking .tracking-button {
  background-color: #f2572e;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  color: #ffffff;
}

.privilege {
  padding: 80px 0;
}
.privilege .privilege-title {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 56px;
  color: #0d0d0d;
}
@media screen and (max-width: 576px) {
  .privilege .privilege-title {
    font-size: 32px;
    line-height: 48px;
  }
}
.privilege .privilege-desc {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #807d7d;
  width: 100%;
  max-width: 650px;
  margin: 28px auto;
}
@media screen and (max-width: 576px) {
  .privilege .privilege-desc {
    font-size: 14px;
    line-height: 24px;
  }
}
.privilege .privilege-card {
  padding: 56px 40px;
  border-radius: 28px;
  transition: all 0.3s;
}
@media screen and (max-width: 576px) {
  .privilege .privilege-card {
    padding: 40px 28px;
  }
}
.privilege .privilege-card:hover {
  box-shadow: 25px 25px 100px rgba(166, 161, 157, 0.1);
}
.privilege .privilege-icon-box {
  background-color: rgba(216, 25, 30, 0.1019607843);
  width: fit-content;
  border-radius: 12px;
  padding: 25px;
}
.privilege .privilege-point {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 36px;
  color: #0d0d0d;
}
@media screen and (max-width: 576px) {
  .privilege .privilege-point {
    font-size: 18px;
  }
}
.privilege .privilege-detail {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: #807d7d;
}
@media screen and (max-width: 576px) {
  .privilege .privilege-detail {
    font-size: 14px;
  }
}

.footer {
  background-color: #dc1e23;
  margin-top: 50px;
}
.footer .footer-title {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 72px;
  color: #ffffff;
}
@media screen and (max-width: 1200px) {
  .footer .footer-title {
    font-size: 32px;
    line-height: 48px;
  }
}
@media screen and (max-width: 576px) {
  .footer .footer-title {
    font-size: 24px;
    line-height: 32px;
  }
}
.footer .footer-desc {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 32px;
  color: #ffffff;
}
@media screen and (max-width: 576px) {
  .footer .footer-desc {
    font-size: 16px;
    line-height: 24px;
  }
}
.footer .footer-button {
  background-color: #0d0d0d;
  padding: 12px 28px;
  width: fit-content;
  border-color: transparent;
}
.footer .footer-img {
  position: relative;
  height: 100%;
}
.footer .footer-img .courier-img {
  width: 100%;
  max-width: 550px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
@media screen and (max-width: 992px) {
  .footer .footer-img .courier-img {
    position: relative;
    margin-top: -100px;
  }
}

.contact .contact-desc {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #807d7d;
  width: 100%;
  max-width: 500px;
}
.contact .contact-copyright {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 16px;
  line-height: 24px;
  color: #807d7d;
}
.contact .contact-title {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: #0d0d0d;
}
.contact .contact-list {
  list-style-type: none;
  padding: 0;
}
.contact .contact-list .list-item {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  margin: 20px 0;
  color: #807d7d;
}

.features {
  position: relative;
  margin: -100px 0;
}
@media screen and (max-width: 992px) {
  .features {
    margin: 0;
  }
}
.features .features-title {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 54px;
  line-height: 70px;
  color: #0d0d0d;
}
@media screen and (max-width: 1400px) {
  .features .features-title {
    font-size: 40px;
    line-height: 58px;
  }
}
@media screen and (max-width: 576px) {
  .features .features-title {
    font-size: 32px;
    line-height: 40px;
  }
}
.features .features-desc {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #807d7d;
}
@media screen and (max-width: 1400px) {
  .features .features-desc {
    font-size: 16px;
  }
}
@media screen and (max-width: 576px) {
  .features .features-desc {
    font-size: 14px;
    line-height: 20px;
  }
}
.features.odd .features-img {
  position: relative;
  display: flex;
  flex-direction: row;
}
@media screen and (max-width: 992px) {
  .features.odd .features-img {
    margin: auto;
    height: 550px;
    flex-direction: row;
    justify-content: center;
  }
}
.features.odd .features-img .apps-img {
  position: relative;
  z-index: 1;
  margin-left: 75px;
}
@media screen and (max-width: 1400px) {
  .features.odd .features-img .apps-img {
    margin-left: 0;
  }
}
@media screen and (max-width: 1200px) {
  .features.odd .features-img .apps-img {
    width: 600px;
  }
}
@media screen and (max-width: 576px) {
  .features.odd .features-img .apps-img {
    margin-right: 65px;
  }
}
.features.odd .features-img .fishes-img {
  position: absolute;
  z-index: 0;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
@media screen and (max-width: 1200px) {
  .features.odd .features-img .fishes-img {
    width: 300px;
  }
}
@media screen and (max-width: 576px) {
  .features.odd .features-img .fishes-img {
    display: none;
  }
}
.features.odd .features-bg {
  position: absolute;
  content: "";
  width: 750px;
  height: 400px;
  background-color: #dc1e23;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: -1;
  border-radius: 50px 0px 0px 50px;
}
@media screen and (max-width: 1400px) {
  .features.odd .features-bg {
    width: 600px;
  }
}
@media screen and (max-width: 1200px) {
  .features.odd .features-bg {
    width: 500px;
  }
}
@media screen and (max-width: 992px) {
  .features.odd .features-bg {
    bottom: 70px;
    width: 100%;
    border-radius: unset;
    top: unset;
    transform: unset;
  }
}
.features.even .features-img {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
}
@media screen and (max-width: 992px) {
  .features.even .features-img {
    margin: auto;
    height: 550px;
    flex-direction: row;
    justify-content: center;
  }
}
.features.even .features-img .apps-img {
  position: relative;
  z-index: 1;
  margin-right: 75px;
}
@media screen and (max-width: 1400px) {
  .features.even .features-img .apps-img {
    margin-right: 0;
  }
}
@media screen and (max-width: 1200px) {
  .features.even .features-img .apps-img {
    width: 600px;
  }
}
@media screen and (max-width: 576px) {
  .features.even .features-img .apps-img {
    margin-left: 65px;
  }
}
.features.even .features-img .fishes-img {
  position: absolute;
  z-index: 0;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
@media screen and (max-width: 1200px) {
  .features.even .features-img .fishes-img {
    width: 300px;
  }
}
@media screen and (max-width: 576px) {
  .features.even .features-img .fishes-img {
    display: none;
  }
}
.features.even .features-bg {
  position: absolute;
  content: "";
  width: 750px;
  height: 400px;
  background-color: #dc1e23;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: -1;
  border-radius: 0px 50px 50px 0px;
}
@media screen and (max-width: 1400px) {
  .features.even .features-bg {
    width: 600px;
  }
}
@media screen and (max-width: 1200px) {
  .features.even .features-bg {
    width: 500px;
  }
}
@media screen and (max-width: 992px) {
  .features.even .features-bg {
    bottom: 70px;
    width: 100%;
    border-radius: unset;
    top: unset;
    transform: unset;
  }
}/*# sourceMappingURL=style.css.map */