@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

$primary-orange: #f2572e;
$secondary-orange: #f05830;

$primary-red: #dc1e23;
$secondary-red: #bb191e;
$transparent-red: #d8191e1a;

$primary-white: #ffffff;

$primary-black: #0d0d0d;

$primary-grey: #807d7d;

$card-shadow: 25px 25px 100px rgba(166, 161, 157, 0.1);

$font-inter: "Inter", sans-serif;
$font-poppins: "Poppins", sans-serif;

#root {
  overflow-x: hidden;
}

.navigation {
  & &-brand {
    font-family: $font-inter;
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 31px;
    color: $primary-orange;
  }
  & &-link {
    font-family: $font-poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    margin: 0 16px;
    color: $primary-black;
    &:hover {
      color: $primary-orange;
    }
    &.active {
      color: $secondary-orange;
    }
  }
  & &-button {
    font-family: $font-poppins;
    font-size: 18px;
    line-height: 27px;
    padding: 16px 28px;
    color: $primary-white;
    background-color: $primary-red;
    border-color: $primary-red;
    &:hover {
      background-color: $secondary-red;
    }
  }
}

.header {
  position: relative;
  & &-title {
    font-family: $font-poppins;
    font-style: normal;
    font-weight: 700;
    font-size: 54px;
    line-height: 70px;
    color: $primary-black;
    @media screen and (max-width: 1400px) {
      font-size: 40px;
      line-height: 58px;
    }
    @media screen and (max-width: 576px) {
      font-size: 32px;
      line-height: 40px;
    }
  }
  & &-desc {
    font-family: $font-poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: $primary-grey;
    @media screen and (max-width: 1400px) {
      font-size: 16px;
    }
    @media screen and (max-width: 576px) {
      font-size: 14px;
      line-height: 20px;
    }
  }
  & &-count {
    font-family: $font-poppins;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    color: $primary-red;
    @media screen and (max-width: 576px) {
      font-size: 32px;
      line-height: 40px;
    }
  }
  & &-count-label {
    font-family: $font-poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    color: $primary-grey;
    @media screen and (max-width: 576px) {
      font-size: 14px;
      line-height: 20px;
    }
  }
  & &-button {
    background-color: $primary-black;
    padding: 12px 28px;
    width: fit-content;
    border-color: transparent;
  }
  & &-img {
    position: relative;
    height: 700px;
    .fishes-img {
      width: 100%;
      max-width: 300px;
      @media screen and (max-width: 1200px) {
        width: 250px;
      }
      @media screen and (max-width: 576px) {
        display: none;
      }
    }
    .apps-img {
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      width: 100%;
      max-width: 300px;
      @media screen and (max-width: 1200px) {
        width: 250px;
      }
      @media screen and (max-width: 576px) {
        right: 50%;
        transform: translate(50%, -50%);
      }
    }
    @media screen and (max-width: 992px) {
      width: 100%;
      margin: auto;
      max-width: 500px;
      height: 550px;
    }
  }
  & &-bg {
    position: absolute;
    content: "";
    width: 750px;
    height: 400px;
    background-color: $primary-red;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: -1;
    border-radius: 50px 0px 0px 50px;
    @media screen and (max-width: 1400px) {
      width: 600px;
    }
    @media screen and (max-width: 1200px) {
      width: 500px;
    }
    @media screen and (max-width: 992px) {
      bottom: 0;
      top: unset;
      transform: unset;
    }
  }
}

.tracking {
  background-color: $primary-red;
  padding: 50px 0;
  position: relative;
  & &-divider {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: 1px;
    height: 100%;
    background-color: $primary-white;
    @media screen and (max-width: 992px) {
      width: 100%;
      height: 1px;
      top: 50%;
      left: 0;
      right: 0;
      transform: translate(0, -50%);
    }
  }
  & &-title {
    font-family: $font-poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 52px;
    color: $primary-white;
    @media screen and (max-width: 576px) {
      font-size: 18px;
      line-height: 32px;
    }
  }
  & &-desc {
    font-family: $font-poppins;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    color: $primary-white;
    @media screen and (max-width: 768px) {
      font-size: 14px;
      line-height: 24px;
    }
  }
  & &-button {
    background-color: $primary-orange;
    font-family: $font-poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
    color: $primary-white;
  }
}

.privilege {
  padding: 80px 0;
  & &-title {
    font-family: $font-poppins;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 56px;
    color: $primary-black;
    @media screen and (max-width: 576px) {
      font-size: 32px;
      line-height: 48px;
    }
  }
  & &-desc {
    font-family: $font-poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: $primary-grey;
    width: 100%;
    max-width: 650px;
    margin: 28px auto;
    @media screen and (max-width: 576px) {
      font-size: 14px;
      line-height: 24px;
    }
  }
  & &-card {
    padding: 56px 40px;
    border-radius: 28px;
    transition: all 0.3s;
    @media screen and (max-width: 576px) {
      padding: 40px 28px;
    }
    &:hover {
      box-shadow: $card-shadow;
    }
  }
  & &-icon-box {
    background-color: $transparent-red;
    width: fit-content;
    border-radius: 12px;
    padding: 25px;
  }
  & &-point {
    font-family: $font-poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 36px;
    color: $primary-black;
    @media screen and (max-width: 576px) {
      font-size: 18px;
    }
  }
  & &-detail {
    font-family: $font-poppins;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    color: $primary-grey;
    @media screen and (max-width: 576px) {
      font-size: 14px;
    }
  }
}

.footer {
  background-color: $primary-red;
  margin-top: 50px;
  & &-title {
    font-family: $font-poppins;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 72px;
    color: $primary-white;
    @media screen and (max-width: 1200px) {
      font-size: 32px;
      line-height: 48px;
    }
    @media screen and (max-width: 576px) {
      font-size: 24px;
      line-height: 32px;
    }
  }
  & &-desc {
    font-family: $font-poppins;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 32px;
    color: $primary-white;
    @media screen and (max-width: 576px) {
      font-size: 16px;
      line-height: 24px;
    }
  }
  & &-button {
    background-color: $primary-black;
    padding: 12px 28px;
    width: fit-content;
    border-color: transparent;
  }
  & &-img {
    position: relative;
    height: 100%;
    .courier-img {
      width: 100%;
      max-width: 550px;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      @media screen and (max-width: 992px) {
        position: relative;
        margin-top: -100px;
      }
    }
  }
}

.contact {
  & &-desc {
    font-family: $font-poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: $primary-grey;
    width: 100%;
    max-width: 500px;
  }
  & &-copyright {
    font-family: $font-poppins;
    font-style: normal;
    font-weight: 200;
    font-size: 16px;
    line-height: 24px;
    color: $primary-grey;
  }
  & &-title {
    font-family: $font-poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: $primary-black;
  }
  & &-list {
    list-style-type: none;
    padding: 0;
    .list-item {
      font-family: $font-poppins;
      font-style: normal;
      font-weight: 300;
      font-size: 16px;
      margin: 20px 0;
      color: $primary-grey;
    }
  }
}

.features {
  position: relative;
  margin: -100px 0;
  @media screen and (max-width: 992px) {
    margin: 0;
  }
  & &-title {
    font-family: $font-poppins;
    font-style: normal;
    font-weight: 700;
    font-size: 54px;
    line-height: 70px;
    color: $primary-black;
    @media screen and (max-width: 1400px) {
      font-size: 40px;
      line-height: 58px;
    }
    @media screen and (max-width: 576px) {
      font-size: 32px;
      line-height: 40px;
    }
  }
  & &-desc {
    font-family: $font-poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: $primary-grey;
    @media screen and (max-width: 1400px) {
      font-size: 16px;
    }
    @media screen and (max-width: 576px) {
      font-size: 14px;
      line-height: 20px;
    }
  }
  &.odd {
    & .features-img {
      position: relative;
      display: flex;
      flex-direction: row;
      @media screen and (max-width: 992px) {
        margin: auto;
        height: 550px;
        flex-direction: row;
        justify-content: center;
      }
      .apps-img {
        position: relative;
        z-index: 1;
        margin-left: 75px;
        @media screen and (max-width: 1400px) {
          margin-left: 0;
        }
        @media screen and (max-width: 1200px) {
          width: 600px;
        }
        @media screen and (max-width: 576px) {
          margin-right: 65px;
        }
      }
      .fishes-img {
        position: absolute;
        z-index: 0;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        @media screen and (max-width: 1200px) {
          width: 300px;
        }
        @media screen and (max-width: 576px) {
          display: none;
        }
      }
    }
    & .features-bg {
      position: absolute;
      content: "";
      width: 750px;
      height: 400px;
      background-color: $primary-red;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      z-index: -1;
      border-radius: 50px 0px 0px 50px;
      @media screen and (max-width: 1400px) {
        width: 600px;
      }
      @media screen and (max-width: 1200px) {
        width: 500px;
      }
      @media screen and (max-width: 992px) {
        bottom: 70px;
        width: 100%;
        border-radius: unset;
        top: unset;
        transform: unset;
      }
    }
  }
  &.even {
    & .features-img {
      position: relative;
      display: flex;
      flex-direction: row-reverse;
      @media screen and (max-width: 992px) {
        margin: auto;
        height: 550px;
        flex-direction: row;
        justify-content: center;
      }
      .apps-img {
        position: relative;
        z-index: 1;
        margin-right: 75px;
        @media screen and (max-width: 1400px) {
          margin-right: 0;
        }
        @media screen and (max-width: 1200px) {
          width: 600px;
        }
        @media screen and (max-width: 576px) {
          margin-left: 65px;
        }
      }
      .fishes-img {
        position: absolute;
        z-index: 0;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        @media screen and (max-width: 1200px) {
          width: 300px;
        }
        @media screen and (max-width: 576px) {
          display: none;
        }
      }
    }
    & .features-bg {
      position: absolute;
      content: "";
      width: 750px;
      height: 400px;
      background-color: $primary-red;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      z-index: -1;
      border-radius: 0px 50px 50px 0px;
      @media screen and (max-width: 1400px) {
        width: 600px;
      }
      @media screen and (max-width: 1200px) {
        width: 500px;
      }
      @media screen and (max-width: 992px) {
        bottom: 70px;
        width: 100%;
        border-radius: unset;
        top: unset;
        transform: unset;
      }
    }
  }
}
