@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

$primary-orange: #f2572e;
$secondary-orange: #f05830;

$primary-red: #dc1e23;
$secondary-red: #bb191e;

$primary-white: #ffffff;

$primary-black: #0d0d0d;

$primary-grey: #807d7d;

$font-inter: "Inter", sans-serif;
$font-poppins: "Poppins", sans-serif;

.navigation {
  & &-brand {
    font-family: $font-inter;
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 31px;
    color: $primary-orange;
  }
  & &-link {
    font-family: $font-poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    margin: 0 16px;
    color: $primary-black;
    &:hover {
      color: $primary-orange;
    }
    &.active {
      color: $secondary-orange;
    }
  }
  & &-button {
    font-family: $font-poppins;
    font-size: 18px;
    line-height: 27px;
    padding: 16px 28px;
    color: $primary-white;
    background-color: $primary-red;
    border-color: $primary-red;
    &:hover {
      background-color: $secondary-red;
    }
  }
}

.header {
  position: relative;
  & &-title {
    font-family: $font-poppins;
    font-style: normal;
    font-weight: 700;
    font-size: 54px;
    line-height: 70px;
    color: $primary-black;
    @media screen and (max-width: 1400px) {
      font-size: 40px;
      line-height: 58px;
    }
    @media screen and (max-width: 576px) {
      font-size: 32px;
      line-height: 40px;
    }
  }
  & &-desc {
    font-family: $font-poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: $primary-grey;
    @media screen and (max-width: 1400px) {
      font-size: 16px;
    }
    @media screen and (max-width: 576px) {
      font-size: 14px;
      line-height: 20px;
    }
  }
  & &-count {
    font-family: $font-poppins;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    color: $primary-red;
    @media screen and (max-width: 576px) {
      font-size: 32px;
      line-height: 40px;
    }
  }
  & &-count-label {
    font-family: $font-poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    color: $primary-grey;
    @media screen and (max-width: 576px) {
      font-size: 14px;
      line-height: 20px;
    }
  }
  & &-button {
    background-color: $primary-black;
    padding: 12px 28px;
    width: fit-content;
  }
  & &-img {
    position: relative;
    height: 700px;
    .fishes-img {
      width: 100%;
      max-width: 300px;
      @media screen and (max-width: 1200px) {
        width: 250px;
      }
      @media screen and (max-width: 576px) {
        display: none;
      }
    }
    .apps-img {
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      width: 100%;
      max-width: 300px;
      @media screen and (max-width: 1200px) {
        width: 250px;
      }
      @media screen and (max-width: 576px) {
        right: 50%;
        transform: translate(50%, -50%);
      }
    }
    @media screen and (max-width: 992px) {
      width: 100%;
      margin: auto;
      max-width: 500px;
      height: 550px;
    }
  }
  & &-bg {
    position: absolute;
    content: "";
    width: 750px;
    height: 400px;
    background-color: $primary-red;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: -1;
    border-radius: 50px 0px 0px 50px;
    @media screen and (max-width: 1400px) {
      width: 600px;
    }
    @media screen and (max-width: 1200px) {
      width: 500px;
    }
    @media screen and (max-width: 992px) {
      bottom: 0;
      top: unset;
      transform: unset;
    }
  }
}

.tracking {
  background-color: $primary-red;
  padding: 50px 0;
  position: relative;
  & &-divider {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: 1px;
    height: 100%;
    background-color: $primary-white;
    @media screen and (max-width: 992px) {
      width: 100%;
      height: 1px;
      top: 50%;
      left: 0;
      right: 0;
      transform: translate(0, -50%);
    }
  }
  & &-title {
    font-family: $font-poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 52px;
    color: $primary-white;
    @media screen and (max-width: 576px) {
      font-size: 18px;
      line-height: 32px;
    }
  }
  & &-desc {
    font-family: $font-poppins;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    color: $primary-white;
    @media screen and (max-width: 768px) {
      font-size: 14px;
      line-height: 24px;
    }
  }
  & &-button {
    background-color: $primary-orange;
    font-family: $font-poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
    color: $primary-white;
  }
}
